.seaGridSpace {
     margin: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.container {
     flex: 1;
     display: grid;
}

.cellStyle {
     aspect-ratio: 1 / 1;
     display: flex;
     justify-content: center;
     align-items: center;

     background-color: navy;
     color: red;
     font-size: 1.5rem;

     border: 2px solid darkblue;
}

@media (min-width: 1000px) {
     .container {
          max-width: 1000px;
     }
}

@media (max-width: 600px) {
     .cellStyle {
          font-size: 1rem;
     }
}

@media (max-width: 400px) {
     .cellStyle {
          font-size: 0.75rem;
     }
}
