.gridcontainer {
     display: grid;
     grid-template-rows: 200px auto 1fr;
     height: 100vh;
     margin: 0;
     padding: 0;
}

.gridTop {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     color: white;
}

.gridBottom {
     display: flex;
     justify-content: center;
     align-items: center;
     max-height: 80%;
     overflow: none;
}

.buttonStyle {
     padding: 20px 35px;
     font-size: 1.5rem;
}

.timerArea {
     display: flex;
     justify-content: center;
     align-items: center;
     height: auto;
}
