.gridcontainer {
     display: grid;
     grid-template-rows: 200px auto 1fr;
     height: 100vh;
     margin: 0;
     padding: 0;
}

.gridTop {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     color: white;
}

.timerArea {
     display: flex;
     justify-content: center;
     align-items: center;
     height: auto;
}

.gridBottom {
}

.buttonStyle {
     height: 65px;
     width: 150px;
     font-size: 1.5rem;
     border-radius: 10px;
     background-color: #4caf50;
     color: white;
}
